@if (profile){

<div class="profile-card">
  <div class="avatar-name">
    <img [src]="profile.avatarUrl | imageUrl" alt="avatar" class="profile-card__avatar">

    <div class="profile-card__name">
      <strong class="h6">{{profile.firstName}} {{profile.lastName}}</strong>
      <span class="subtitle">{{profile.username}}</span>
    </div>
  </div>

  <div class="profile-card__description">
  {{profile.description}}
  </div>

 <div class="prifile-card__tags">
  @for (skill of profile.stack; track skill){
    <div class="skill-tag">{{skill}}</div>
  }
 </div>

 <div class="profile-card__action-buttons">
  <div class="btn profile-btn">Подписаться</div>
  <div class="btn profile-btn">
    <img src="/assets/imgs/Content.png" alt="share" class="btn-share">
  </div>
 </div>

</div>
}@else{
  fgkkgkg
}
